:root {
  --white: hsl(0, 0%, 100%);

  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(90deg, hsl(37, 97%, 70%) , hsl(329, 70%, 58%)) ;
  --youtube: hsl(348, 97%, 39%);

  --bg: hsl(0, 0%, 100%);
  --surface: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text: hsl(230, 17%, 14%);
  --text-muted: hsl(228, 12%, 44%);
  --theme-toggle: hsl(230, 22%, 74%);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(230, 17%, 14%);
    --surface: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --text: var(--white);
    --text-muted: hsl(228, 34%, 66%);
    --theme-toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--bg);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  object-fit: contain;
}